service vendor.vibratorfeature-wrapper /odm/bin/hw/vibratorfeature-wrapper
    class hal
    user system
    group system
    oneshot

on property:init.svc.vibratorfeature-hal-service=restarting
    start vendor.vibratorfeature-wrapper
